html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.btn-secondary {
    background-color: #323a56; /* Change to your desired background color */
    border-color: #fff; /* Change to your desired border color */
    color: #fff; /* Adjust text color if needed */
}

    .btn-secondary:hover {
        background-color: #ed6761; /* Darker shade for hover state */
        border-color: #ffd800ff; /* Border color for hover state */
    }
