@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
    height: 100%;
    margin: 0;
}

div.container-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.btn-primary {
    background-color: #007acc;
}

.btn-secondary {
    background-color: #007acc;
}

    .btn-secondary:hover {
        background-color: #890606;
    }

#searchUrlh5 {
    margin-bottom: 15px;
    margin-top: 15px;
}

#searchUrlInput {
    background-color: #212121;
}

#submitButton {
    background-color: #007acc;
}

.welcome-header {
    padding-bottom: 50px;
}

.renderBody {
    margin-left: 10px;
    margin-right: 10px;
}

#searchUrlh5 {
    box-sizing: border-box;
    background: #212121;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 4px;
    border: 2px solid #3d3d3d;
    padding: 5px;
    overflow: hidden;
}

#searchUrlBox form {
    padding-bottom: 10px;
    margin-left: 4px;
}

.ul_container {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

li.new_item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 350px;
    margin: 4px;
    border: 2px solid #3d3d3d;
    padding: 5px;
    box-sizing: border-box;
    background: #212121;
    overflow: hidden;
}

a.no_underline {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
}

.item_pic {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

    .item_pic img.index-image {
        width: 100%;
        height: auto;
        max-height: 200px;
        object-fit: cover;
    }

.item_text {
    padding-bottom: 20px;
    color: #b7b7b7;
}

.name_and_price {
    margin-top: auto;
}

.price_container {
    display: flex;
    flex-direction: column;
}

.item_current {
    margin-bottom: 0px;
    color: #b7b7b7;
    margin-top: 5px;
}

.item_current_price {
    font-weight: 800;
}

.item_current_currency {
    font-weight: 800;
}

.item_previous {
    margin-bottom: 0px;
    color: #b7b7b7;
}

.item_previous_price {
    font-weight: 800;
}

.item_previous_currency {
    font-weight: 800;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.pagination {
    margin-top: 16px;
}

footer {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    color: white;
    text-align: center;
    margin-top: auto;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
}

#loading-gif {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 650px;
    height: auto;
    transform: translate(-50%, -50%);
}

[data-bs-theme=dark] .carousel .carousel-control-next-icon,
[data-bs-theme=dark] .carousel .carousel-control-prev-icon,
[data-bs-theme=dark].carousel .carousel-control-next-icon,
[data-bs-theme=dark].carousel .carousel-control-prev-icon {
    filter: invert(0);
    width: 50%;
    height: 50%;
}

[data-bs-theme=dark] .carousel .carousel-indicators [data-bs-target], [data-bs-theme=dark].carousel .carousel-indicators [data-bs-target] {
    background-color: transparent;
}

.carousel-container {
    max-width: 800px;
    height: 650px;
    /* border: 2px solid #3d3d3d;*/
}

div#carousel-main.carousel.slide {
    height: 100%;
}

div.carousel-inner {
    height: 100%;
}

div.carousel-item {
    height: 100%;
}

    div.carousel-item.active {
        height: 100%;
    }

img.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.carousel-indicators {
    max-width: 1000px;
    display: block;
    margin: 0px;
    /*border: 2px solid #3d3d3d;*/
    margin-top: 10px;
    position: unset;
}

    .carousel-indicators img {
        width: 70px;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        object-fit: contain;
    }

    .carousel-indicators button {
        width: max-content !important;
    }

        .carousel-indicators button.active img {
            border: 2px solid white;
        }

.carousel-indicators-placeholder {
    margin-top: 10px;
}

.carousel-indicators-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
}


div#left {
    max-width: 800px;
    min-width: 100px;
}

div.info-container {
    margin-left: 40px;
    max-width: 600px;
}

div.adName {
    font-size: 30px;
    font-weight: 700;
}

div.location {
    margin-top: 20px;
}

.price_container_vehicle {
    margin-top: 30px;
    font-size: 25px;
}

    .price_container_vehicle i {
        font-size: 16px;
    }

span.date-and-vat {
    font-size: 13px;
}

.date-added {
    margin-top: 30px;
}

img.mobilebg-logo {
    margin-top: 20px;
    margin-bottom: 20px;
}

span.date-span {
    font-weight: 700;
    font-size: large;
}

.modal-content {
    max-width: 1000px;
    width: 1000px;
    height: auto;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
}

    .modal-body img {
        width: 100%;
        height: auto;
    }

.mobilebg-logo {
    width: 300px;
}


i.fa-solid {
    font-size: 20px;
    color: #007acc
}


span.date-h-price {
    font-size: 14px;
}

span.h-price {
    font-weight: 800;
    font-size: 19px;
}

.specifications {
    margin-top: 20px;
    border: 2px solid #3d3d3d;
}

.spec-data {
    margin: 15px;
}

    .spec-data .spec-title {
        display: inline-block;
        font-weight: 700;
        text-transform: none;
        font-size: 19px;
        margin-bottom: 15px;
    }

    .spec-data .specs .spec:nth-of-type(2n+1) {
        background-color: #293946;
    }

    .spec-data .specs .spec {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0 20px;
        padding: 3px 10px;
    }
