@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
    height: 100%;
    margin: 0;
    background: rgb(13,13,13);
    background: linear-gradient(90deg, rgba(13,13,13,1) 0%, rgba(51,51,51,1) 50%, rgba(13,13,13,1) 100%);
    background-attachment: fixed;
}

nav.navbar {
    background-color: transparent !important;
}

div.container-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

a {
    color: #bc6c25;
    text-decoration: none;
}

    a:hover {
        color: #dda15e;
    }

.btn.disabled {
    background-color: #3d3d3d;
    border: none;
}

.btn-primary {
    background-color: #bc6c25;
    border-color: #fefae0;
    border-radius: 15px;
}

    .btn-primary:hover {
        background-color: #dda15e;
        border-color: #fefae0;
    }

    .btn-primary:active {
        background-color: gray !important;
        border-color: #fefae0 !important;
        box-shadow: none !important;
    }

    .btn-primary:focus {
        box-shadow: none;
    }

.btn-secondary {
    background-color: #bc6c25;
    border-color: #fefae0;
    border-radius: 15px;
}

    .btn-secondary:hover {
        background-color: #c1121f;
        border-color: #fefae0;
    }

    .btn-secondary:active {
        background-color: gray !important;
        border-color: #fefae0 !important;
        box-shadow: none !important;
    }

    .btn-secondary:focus {
        box-shadow: none !important;
    }

#searchUrlInput {
    background: rgba(1,1,1,0.3);
    box-shadow: none;
    border-color: #8d8d8d;
    border-radius: 20px;
}

#submitButton {
    background-color: #bc6c25;
    border-color: #fefae0;
}

    #submitButton:hover {
        background-color: #dda15e;
        border-color: #fefae0;
    }

    #submitButton:active {
        background-color: gray !important;
        border-color: #fefae0 !important;
        box-shadow: none !important;
    }


.welcome-header {
    padding-bottom: 50px;
}

.renderBody {
    margin-left: 10px;
    margin-right: 10px;
}

#searchUrlh5 {
    box-sizing: border-box;
    background: rgba(1,1,1,0.3);
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 4px;
    border: 2px solid #3d3d3d;
    border-radius: 20px;
    padding: 5px;
    overflow: hidden;
}

#searchUrlBox form {
    padding-bottom: 10px;
    margin-left: 4px;
}

.ul_container {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

li.new_item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    margin: 4px;
    border: 2px solid #3d3d3d;
    border-radius: 20px;
    box-sizing: border-box;
    background: rgba(1,1,1,0.3);
    overflow: hidden;
}

img.new-flag {
    position: absolute;
    z-index: 2;
    top: -7px;
    left: -13px;
    width: 80px;
    height: auto;
    background: 0 0;
}

.favorite-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
    color: #fefae0;
    cursor: pointer;
    transition: color 0.3s;
}

    .favorite-icon:hover {
        color: #dda15e;
    }

i.fa-solid.fa-heart {
    color: #fefae0 !important;
}

div.favorite-icon-singlePage {
    color: #fefae0;
    cursor: pointer;
    font-size: 30px;
    margin-bottom: 20px;
    transition: color 0.3s;
}

#favIconSingle {
    font-size: 30px;
}

#favIconText {
    font-size: 20px;
}

div.favorite-icon-singlePage:hover {
    color: #dda15e;
}

a.no_underline {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    padding: 5px;
}

.item_pic {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

    .item_pic img.index-image {
        width: 100%;
        height: auto;
        max-height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }

.item_text {
    padding-bottom: 20px;
    color: #b7b7b7;
}

.price_container {
    border-top: 2px solid #3d3d3d;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

p.item_current {
    padding-left: 6px;
}

p.item_previous {
    padding-left: 6px;
}

.item_current {
    color: #b7b7b7;
    margin-bottom: 0px;
}

.item_current_price {
    font-weight: 800;
}

.item_current_currency {
    font-weight: 800;
}

.item_previous {
    color: #b7b7b7;
    margin-bottom: 0px;
}

.item_previous_price {
    font-weight: 800;
}

.item_previous_currency {
    font-weight: 800;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.pagination {
    margin-top: 16px;
}

footer {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;
    text-align: center;
    margin-top: auto;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
}

#loading-gif {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 650px;
    height: auto;
    transform: translate(-50%, -50%);
}

[data-bs-theme=dark] .carousel .carousel-control-next-icon,
[data-bs-theme=dark] .carousel .carousel-control-prev-icon {
    filter: none;
    width: 50%;
    height: 50%;
    background-color: transparent !important;
    filter: invert(65%) sepia(69%) saturate(644%) hue-rotate(345deg) brightness(100%) contrast(92%);
}

[data-bs-theme=dark] .carousel .carousel-indicators [data-bs-target], [data-bs-theme=dark].carousel .carousel-indicators [data-bs-target] {
    background-color: transparent;
}

div #left {
    padding-top: 10px;
}

.carousel-container {
    position: relative;
    max-width: 800px;
    height: 650px;
}

div#carousel-main.carousel.slide {
    height: 100%;
}

div.carousel-inner {
    height: 100%;
}

div.carousel-item {
    height: 100%;
}

    div.carousel-item.active {
        height: 100%;
    }

img.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.carousel-indicators {
    max-width: 1000px;
    display: block;
    margin: 0px;
    margin-top: 10px;
    position: unset;
}

    .carousel-indicators img {
        width: 70px;
        display: block;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        object-fit: contain;
    }

    .carousel-indicators button {
        width: max-content !important;
        display: inline-grid;
    }

        .carousel-indicators button.active img {
            border: 2px solid white;
        }

.carousel-indicators-placeholder {
    margin-top: 10px;
}

.carousel-indicators-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
}


div#left {
    max-width: 800px;
    min-width: 100px;
}

.custom-margin {
    margin-left: 40px;
    max-width: 750px;
}

@media (max-width: 767px) {
    .custom-margin {
        margin-left: 0;
    }
}

div.adName {
    font-size: 30px;
    font-weight: 700;
}

div.location {
    margin-top: 20px;
}

.price_container_vehicle {
    margin-top: 20px;
    font-size: 25px;
}

    .price_container_vehicle i {
        font-size: 16px;
    }

span.date-and-vat {
    font-size: 13px;
}

.date-added {
    margin-top: 20px;
}

img.mobilebg-logo {
    margin-top: 20px;
    margin-bottom: 20px;
}

span.date-span {
    font-weight: 700;
    font-size: large;
}

.modal-dialog {
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}

.modal-content {
    max-width: auto;
    width: auto;
    height: auto;
    justify-content: left;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

    .modal-body img {
        width: 100%;
        height: auto;
    }

.mobilebg-logo {
    width: 300px;
}


i.fa-solid {
    font-size: 20px;
    color: #fefae0
}


span.date-h-price {
    font-size: 14px;
}

span.h-price {
    font-weight: 800;
    font-size: 19px;
}

.specifications {
    margin-top: 20px;
    border: 2px solid #fefae0;
    border-radius: 10px;
}

.spec-data {
    margin: 15px;
}

    .spec-data .spec-title {
        display: inline-block;
        font-weight: 700;
        text-transform: none;
        font-size: 19px;
        margin-bottom: 15px;
    }

    .spec-data .specs .spec:nth-of-type(2n+1) {
        background: rgb(188,108,37);
        background: linear-gradient(90deg, rgba(188,108,37,0.5) 0%, rgba(221,161,94,0.6) 100%);
    }

    .spec-data .specs .spec {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0 20px;
        padding: 3px 10px;
    }

button.modal-prev, button.modal-next {
    font-size: 70px;
    opacity: .8;
    color: #dda15e;
}

    button.modal-prev:hover, button.modal-next:hover {
        opacity: .8;
        color: #dda15e;
    }

    button.modal-prev:focus, button.modal-next:focus {
        opacity: .8;
        color: #dda15e;
        outline: none;
        box-shadow: none;
    }

#vehiclePriceChart {
    margin-top: 20px;
}

.flex-container {
    display: flex;
    align-items: baseline;
}

    .flex-container .sort-options {
        margin-right: 4px;
    }

.sort-options select {
    border-radius: 10px;
    background-color: #bc6c25;
}


#manage-options {
    display: flex;
    flex-wrap: wrap;
}

#manage-user {
    flex: 0 0 250px;
    font-weight: 600;
    font-size: 25px;
    margin-left: 30px;
}

#content {
    flex: 1;
    padding-left: 30px;
    max-width: 500px;
}

#manage-user > div {
    border: solid 1px;
    margin-bottom: 20px;
    width: 220px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

div #login-error ul li {
    list-style-type: none;
}

div #privacy-content {
    margin-left: 30px;
}

.logo {
    width: 13rem;
}

.logo-index {
    padding-top: 20px;
    width: 60rem;
}

.navbar-nav {
    font-size: 25px;
}

.page-link {
    color: white;
}

.active > .page-link {
    background-color: #bc6c25;
    border-color: white;
}

a.page-link:hover {
    color: gray;
}

a.page-link:focus {
    color: white;
    box-shadow: none;
}

.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

b.vehicles_count {
    color: #dda15e;
}

#emailSwitch {
    appearance: none;
    border: 2px solid #dda15e;
    cursor: pointer;
    position: relative;
}

    #emailSwitch:checked {
        background-color: #dda15e;
    }

        #emailSwitch:checked::after {
            content: "X";
            color: white;
            position: absolute;
            top: -5px;
            left: 2px;
            font-size: 16px;
        }

a#delete {
    border-color: #fefae0;
    border-radius: 15px;
}

    a#delete:active {
        box-shadow: none;
    }

    a#delete:focus {
        box-shadow: none;
    }

div#guide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#guide li {
    padding-top: 30px;
    font-size: 25px;
}

div#guide li img {
    padding-block: 10px;
    max-width: 100%;
    height: auto;
}