@model MobileBgWatch.Models.ChangePassword
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Manage your account</h1>

<div>
    <hr />
    <div id="manage-options">
        <div class="col-md-3" id="manage-user">
            <div style="cursor: auto;">
                <span style="text-decoration: none; color: gray; cursor: default;">Change Password</span>
            </div>
            <div>
                <a asp-controller="User" asp-action="PersonalData" style="text-decoration: none; color: white;">Personal Data</a>
            </div>
        </div>
        <div class="col-md-9" id="content">
            <h3>@ViewData["Title"]</h3>
            @if (ViewBag.Message != null)
            {
                <div class="p-1 mb-2 bg-success text-white">@ViewBag.Message</div>
            }
            <form asp-action="ChangePassword" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <p></p>
                <div class="form-group">
                    <label asp-for="CurrentPassword" class="control-label"></label>
                    <input asp-for="CurrentPassword" class="form-control" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
                <p></p>
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <p></p>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <p></p>
                <div class="form-group">
                    <input type="submit" value="Change Password" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}