@model MobileBgWatch.Models.UserLogin
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-white text-center">Login</h1>
<div asp-validation-summary="ModelOnly" id="login-error" class="text-danger text-center"></div>

<form asp-action="Login" method="post" class="col-md-3 mx-auto">
    <div class="form-group padding">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <p></p>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <p></p>
    <button class="btn btn-primary" type="submit">Login</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}